[Unit]
Description=ChefPort Telegram Bot (Aiogram)
After=network.target

[Service]
User=root
WorkingDirectory=/root/chefport-bot
ExecStart=/root/chefport-bot/venv311/bin/python -m bot.bot_complete
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
